<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4 style="color:black;">Leonel Meza</h4>
                        <small><cite title="San Francisco, USA">Irapuato, GTO <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-envelope" style="color:black;"></i><a href="http://www.jquery2dotnet.com">Mensaje</a>
                            <br />
                            <i class="glyphicon glyphicon-globe" style="color:black;"></i><a href="http://www.jquery2dotnet.com">Perfil</a>
                            <br />
                            <i class="glyphicon glyphicon-gift" style="color:black;"></i><p style="color:black;">Junio 02, 1998</p></p>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
