<form class="form-horizontal">
<fieldset style="border:none">

<!-- Form Name -->
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="tbxNombre">Nombre</label>
  <div class="col-md-4">
  <input id="tbxNombre" name="tbxNombre" placeholder="Cristiano" class="form-control input-md" required="" type="text" >

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="tbxApellido">Apellido</label>
  <div class="col-md-4">
  <input id="tbxApellido" name="tbxApellido" placeholder="Ronaldo" class="form-control input-md" required="" type="text">

  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="rdSexo">Sexo</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="rdSexo-0">
      <input name="rdSexo" id="rdSexo-0" value="1" checked="checked" type="radio">
      Hombre
    </label>
	</div>
  <div class="radio">
    <label for="rdSexo-1">
      <input name="rdSexo" id="rdSexo-1" value="2" type="radio">
      Mujer
    </label>
	</div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="tbxCorreo">Correo Electr&oacute;nico</label>
  <div class="col-md-4">
  <input id="tbxCorreo" name="tbxCorreo" placeholder="example@mail.com" class="form-control input-md" required="" type="text">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="tbxConfirmar">Confirmar Correo</label>
  <div class="col-md-4">
  <input id="tbxConfirmar" name="tbxConfirmar" placeholder="example@mail.com" class="form-control input-md" required="" type="text">

  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="tbxPassword">Contrase&ntilde;a</label>
  <div class="col-md-4">
    <input id="tbxPassword" name="tbxPassword" placeholder="Contrase&ntilde;a" class="form-control input-md" required="" type="password">

  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="tbxCPassword">Confirmar Contrase&ntilde;a</label>
  <div class="col-md-4">
    <input id="tbxCPassword" name="tbxCPassword" placeholder="Confirmar Contrase&ntilde;a" class="form-control input-md" required="" type="password">

  </div>
</div>

<!-- Button -->
<div class="form-group" align=center>
  <label class="col-md-4 control-label" for="btnConfirmar"></label>
  <div class="col-md-4">
    <a href="home.html"><button id="btnConfirmar" name="btnConfirmar" class="btn btn-primary">Confirmar</button></a>
  </div>
</div>

</fieldset>
</form>
