<table class="table-retos">
  <col style="text-align: right">
  <col style="text-align: center">
  <col style="text-align:center">
  <col style="text-align:center">
  <tbody>
    <tr>
      <th>1</th>
      <th>Nombre del reto</th>
      <th><p class="btn">Ejemplo</p></th>
      <th><p class="btn">Upload</p></th>
    </tr>
    <tr>
      <th>2</th>
      <th>Nombre del reto</th>
      <th><p class="btn">Ejemplo</p></th>
      <th><p class="btn">Upload</p></th>
    </tr>
    <tr>
      <th>3</th>
      <th>Nombre del reto</th>
      <th><p class="btn">Ejemplo</p></th>
      <th><p class="btn">Upload</p></th>
    </tr>
    <tr>
      <th>4</th>
      <th>Nombre del reto</th>
      <th><p class="btn">Ejemplo</p></th>
      <th><p class="btn">Upload</p></th>
    </tr>
    <tr>
      <th>5</th>
      <th>Nombre del reto</th>
      <th><p class="btn">Ejemplo</p></th>
      <th><p class="btn">Upload</p></th>
    </tr>
    <tr>
      <th>6</th>
      <th>Nombre del reto</th>
      <th><p class="btn">Ejemplo</p></th>
      <th><p class="btn">Upload</p></th>
    </tr>
    <tr>
      <th>7</th>
      <th>Nombre del reto</th>
      <th><p class="btn">Ejemplo</p></th>
      <th><p class="btn">Upload</p></th>
    </tr>
    <tr>
      <th>8</th>
      <th>Nombre del reto</th>
      <th><p class="btn">Ejemplo</p></th>
      <th><p class="btn">Upload</p></th>
    </tr>
    <tr>
      <th>9</th>
      <th>Nombre del reto</th>
      <th><p class="btn">Ejemplo</p></th>
      <th><p class="btn">Upload</p></th>
    </tr>
    <tr>
      <th>10</th>
      <th>Nombre del reto</th>
      <th><p class="btn">Ejemplo</p></th>
      <th><p class="btn">Upload</p></th>
    </tr>
    <tr>
      <th>11</th>
      <th>Nombre del reto</th>
      <th><p class="btn">Ejemplo</p></th>
      <th><p class="btn">Upload</p></th>
    </tr>
    <tr>
      <th>12</th>
      <th>Nombre del reto</th>
      <th><p class="btn">Ejemplo</p></th>
      <th><p class="btn">Upload</p></th>
    </tr>
  </tbody>
</table>
